@import 'tailwindcss';
@import 'tw-animate-css';
/*  ---break--- */
@custom-variant dark (&:is(.dark *));

@theme inline {
  /*  class para usar essa fonte no tailwindCSS */
  --font-main: var(--font-monaSans);

  /* Font Sizes */
  --text-heading-large: 1.625rem;
  /* 26px */
  --text-heading-medium: 1.375rem;
  /* 22px */
  --text-heading-small: 1.125rem;
  /* 18px */
  --text-body-large: 1rem;
  /* 16px */
  --text-body-medium: 0.875rem;
  /* 14px */
  --text-body-small: 0.75rem;
  /* 12px */

  /* Font Weights */
  --font-weight-bold: 700;
  --font-weight-regular: 400;

  /*  classes das cores para usar no tailwindCSS */

  /* System Greys */
  --color-system-lightest: #dcdedf;
  --color-system-lighter: #bbbcbf;
  --color-system-light: #bb929a;
  --color-system-base: #67707b;
  --color-system-dark: #3d4450;
  --color-system-darker: #23262e;
  --color-system-darkest: #de141b;

  /* Store Blues */
  --color-store-lightest: #ccdbe3;
  --color-store-lighter: #a7bacc;
  --color-store-light: #7c9ea3;
  --color-store-base: #46697d;
  --color-store-dark: #2a475e;
  --color-store-darker: #1b2838;
  --color-store-darkest: #000f18;

  /* Backgrounds */
  --color-bg-light-softer: #6998bb24;
  --color-bg-light-soft: #3b5a7280;
  --color-bg-light-medium: #678BA670;
  --color-bg-light-hard: #938D8480;
  --color-bg-light-harder: #aacce6a6;


  /* Gradients */
  --gradient-store-background: linear-gradient(180deg,
      var(--color-store-dark) 0%,
      var(--color-store-darker) 80%);
  --gradient-library-background: radial-gradient(farthest-corner at 40px 40px,
      var(--color-system-dark) 0%,
      var(--color-system-darker) 80%);

  /* Brand Colors */
  --color-primary: #66c0f4;
  /* ChalkyBlue */
  --color-primary-light: #1a9fff;
  /* Blue */
  --color-primary-bright: #00b8ff;
  /* BlueHi */
  --color-secondary: #417a9b;
  /* DustyBlue */

  /* Accent Colors */
  --color-accent-green: #5ba32b;
  --color-accent-green-bright: #59bf40;
  --color-accent-orange: #e35e1c;
  --color-accent-red: #d94126;
  --color-accent-red-bright: #ee563b;
  --color-accent-yellow: #ffc82c;

  /* Text Colors */
  --color-text-main: #f5f9fb;
  --color-text-dim: #cccccc;
  --color-text-highlight: #e2e2eb;
  --color-text-hover: #e3b4bb;
  --color-text-secondary: #6e6e5b;
  --color-text-tertiary: #e3b4bb;

  /* Background Colors */
  --color-bg-light-soft: rgba(235, 246, 255, 0.1);
  --color-bg-light-medium: rgba(235, 246, 255, 0.3);
  --color-bg-light-hard: rgba(235, 246, 255, 0.5);

  /* shadcn */
  --color-bg-dark-soft: #0e141b66;
  --color-bg-dark-medium: #0e141b99;
  --color-bg-dark-hard: #0e141bcc;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/*  ---break--- */

:root {
  --radius: 0.5rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.623 0.214 259.815);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.623 0.214 259.815);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.623 0.214 259.815);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.546 0.245 262.881);
  --primary-foreground: oklch(0.379 0.146 265.522);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.488 0.243 264.376);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.546 0.245 262.881);
  --sidebar-primary-foreground: oklch(0.379 0.146 265.522);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.488 0.243 264.376);
}

/*  ---break--- */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
